﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UserActivation.aspx.cs" Inherits="GoogleDocsView.UserActivation" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        body
        {
            font-family: Arial;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <h1><asp:Literal ID="ltMessage" runat="server" /></h1>
    </form>
</body>
</html>
