﻿body {
    font-family: Arial;
    font-size: 10pt;
}

.modalBackground {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup {
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 140px;
}

.hiddencol {
    display: none;
}




#PnlTable {
    border: 1px solid #ccc;
}

    #PnlTable th {
        background-color: #F7F7F7;
        color: #333;
        font-weight: bold;
    }

    #PnlTable th, #PnlTable td {
        padding: 5px;
        border-color: #ccc;
    }

.btn {
    background: #0e8016;
    background-image: -webkit-linear-gradient(top, #0e8016, #1bd127);
    background-image: -moz-linear-gradient(top, #0e8016, #1bd127);
    background-image: -ms-linear-gradient(top, #0e8016, #1bd127);
    background-image: -o-linear-gradient(top, #0e8016, #1bd127);
    background-image: linear-gradient(to bottom, #0e8016, #1bd127);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

    .btn:hover {
        background: #18871e;
        background-image: -webkit-linear-gradient(top, #18871e, #18871e);
        background-image: -moz-linear-gradient(top, #18871e, #18871e);
        background-image: -ms-linear-gradient(top, #18871e, #18871e);
        background-image: -o-linear-gradient(top, #18871e, #18871e);
        background-image: linear-gradient(to bottom, #18871e, #18871e);
        text-decoration: none;
    }
